<div class="container">
  <h1 class="my-5">Add Task</h1>
    <div class="d-flex flex-column flex-md-row my-3 align-items-center justify-content-center">
      <div class="list-group w-100">

    <%= render 'form', task: @task %>

    </div>
  </div>
</div>
